@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  @apply bg-white-bg;
  @apply flex justify-center flex-wrap;
  min-height: 100vh;
  user-select: none;
  font-family: 'Inter', sans-serif;
}

#root {
  min-width: 100%;
}

img.cat-image {
  width: 150px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .input-container {
    @apply flex-auto max-w-md;
    min-width: 450px;
  }

  .cat-image {
    max-height: 150px;
  }
}