@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  @apply bg-white-bg;
  @apply flex justify-center flex-wrap;
  min-height: 100vh;
  user-select: none;
  font-family: 'Inter', sans-serif;
}

#root {
  min-width: 100%;
}

img.cat-image {
  @apply w-24 h-24 p-2 mb-5 m-auto
         border-solid border-4 border-darker-purple
         rounded-circle bg-purple shadow-ten-oclock
         custom-lg:m-2;
}

@media (min-width: 1024px) {
  img.cat-image {
    width: 4rem;
    height: 4rem
  }
}